//Calibri_Regular.ttf
@font-face {
    font-family: "Calibri";
    src: url('fonts/Calibri_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//OpenDyslexic-Regular.otf
@font-face {
    font-family: "OpenDyslexic";
    src: url('fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

//Roboto-Regular.ttf
@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//Lexend-Regular.ttf
@font-face {
    font-family: "Lexend";
    src: url('fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Lexend-SemiBold.ttf
@font-face {
    font-family: "Lexend";
    src: url('fonts/Lexend-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Lexend-Light.ttf
@font-face {
    font-family: "Lexend";
    src: url('fonts/Lexend-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}


$font-families: "Arial, Helvetica, sans-serif", "Calibri, sans-serif", "Courier New, Courier, monospace", "OpenDyslexic, sans-serif", "Roboto, sans-serif", "Times New Roman, Times, serif", "Verdana, sans-serif";
