#channels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

#channels .theme-box.top {
    padding: 1em 2em;
    width: auto;
}

#channels h2 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

#channels h3 {
    font-size: 1.8em;
    font-weight: 400;
    color: var(--text);
    line-height: 1em;
}

#channels h4 {
    font-size: 1.7em;
    font-weight: 400;
    color: var(--text);
}

#channels p {
    font-size: 1em;
    font-weight: 300;
    color: var(--text);
}

#channels .channels-container {
    display: flex;
    flex-direction: column;
    /*padding: 1.5em 1em;*/
    width: 100%;
    gap: var(--gap);
}

#channels .live-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: calc(var(--gap) * 0.5);
    padding: 1em 0;
}

#channels .live-channels {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--gap));
}


@media only screen and (max-width: 40rem) {
    #channels .live-channels {
        grid-template-columns: 1fr;
    }
}

#channels .channels-container .card-container {
    border-radius: 15px;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-color: var(--square);
    min-width: 0;
    aspect-ratio: 16/9;
}

#channels .channels-container .card-container > a {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    /*background-color: #37373E60;*/
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    text-align: left;
    padding: 1.5em;
    color: inherit;
}

@media only screen and (max-width: 70rem) {
    #channels .channels-container .card-container > a {
        padding: 1em;
    }
}

#channels .channels-container .card-container:hover {
    transform: scale(1.02);
}

#channels .channels-container .card-container:hover h4 {
    color: var(--title);
    /* text-decoration: underline; */
}

#channels .channels-container .card-container .card-bottom {
    display: flex;
    justify-content: space-between;
    gap: calc(var(--gap) * 0.5);
}

#channels .stream-title {
    font-size: 0.8em;
    /* ellipsis */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}