
#dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

#dashboard h2 {
    font-size: 2.1em;
}

#dashboard h3 {
    font-size: 2em;
    color: var(--title)
}

#dashboard .theme-select {
    position: relative;
    font-size: 1.25em;
}
/*
#dashboard .custom-option {
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#dashboard .custom-option:hover {
    background-color: var(--square);
    color: var(--text);
}

#dashboard .api,
#dashboard .setting,
#dashboard .languages,
#dashboard .banned {
    position: relative;
}*/


#dashboard .welcome {
    position: relative;
    padding: 1em;
}

#dashboard .welcome .profile-container {
    margin: .25em;
    height: 2em;
    top: 0;
    right: .5em;
    position: absolute;
    cursor: pointer;
}

#dashboard .welcome .profile-container .profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--text);
}

#dashboard .welcome .profile-container .logout-box {
    background-color: #D9D9D980;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 1;
}

#dashboard .welcome .profile-container .logout-box img {
    width: 65%;
}

#dashboard .welcome .profile-container:hover .logout-box {
    opacity: 1;
}

#dashboard .welcome .profile-container:hover > img {
    filter: blur(3px);
    transition: filter 0.4s;
}

#dashboard .setting h4 {
    font-size: 1.5em;
    margin-top: .5em;
    text-decoration: underline;
}

#dashboard .setting .spoken-text {
    margin-top: .5em;
    background-color: var(--text);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    color: var(--square);
    font-size: 1.2em;
    padding: 1em;
    height: 5em;
}

#dashboard .setting .spoken-text p {
    line-height: 1.5em;
    text-align: left;
}

#dashboard .tabs {
    display: flex;
    flex-wrap: nowrap;
    gap: .5em;
    margin: 0 1em;
}

#dashboard .tab {
    background-color: var(--square);
    font-size: 1.5em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    padding: .25em .5em;
    cursor: pointer;
    min-width: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dashboard .tab.active {
    color: var(--title);
}

#dashboard .setting .setting-options {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 1em;
}

.theme-btn.listening:not(.start-btn) {
    background-image: linear-gradient(#2B2B2B, #2B2B2B);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#dashboard .languages {
    margin-top: 2em;
}

#dashboard .languages .transfer-list-side {
    height: 24em;
    width: 14em;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 40rem) {
    #dashboard .languages .transfer-list-side {
        width: 10em;
    }
}

#dashboard .languages .lang-list {
    padding: 0.5em 1em 0.5em 0;
    background-color: var(--text);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    margin-top: .5em;
    color: var(--square);
    min-height: 0;
    flex: 1;
}

#dashboard .languages .lang-list * {
    font-family: 'Baloo', sans-serif;
    overflow: hidden;
}

#dashboard .languages .lang-list .scroll-theme {
    height: 100%;
    overflow: auto;
    padding: 0;
}

#dashboard .languages .language-title {
    font-size: 1.25em;
}

#dashboard .languages .search-input {
    margin: .5em 0;
    width: 100%;
}

#dashboard .languages .search-input input {
    color: var(--button);
    font-family: 'Baloo', sans-serif;
}

/* For a question of selector weight I don't call #dashboard .languages */
.search-input label {
    font-family: 'Baloo', sans-serif;
    color: #5F5F68;
    background-image: linear-gradient(180deg, var(--text) 65%, transparent);
    border-radius: 10px;
}

.search-input label.MuiInputLabel-shrink {
    padding: 0 1em;
    border: 2px solid var(--button);
}

#dashboard .languages .transfer-list-container .MuiInputBase-input {
    background-color: var(--text);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

#dashboard .languages .transfer-list-container .MuiInputBase-formControl {
    border-radius: 10px;
}

#dashboard .languages .switch-btn {
    cursor: pointer;
}

#dashboard .languages .switch-btn:disabled svg > * {
    fill: #5F5F68;
}

#dashboard .languages .switch-btn:not(:disabled):hover {
    background-color: var(--button);
}
/*
#dashboard .banned .tips-img {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 38px;
    cursor: pointer;
}

#dashboard .banned svg {
    fill: var(--text);
}

#dashboard .banned svg:hover path {
    fill: var(--title);
    transition: all 0.4s
}

#dashboard .banned .ban-captions {
    border-radius: 10px;
    background: var(--text);
    box-shadow: 10px -10px 20px 5px rgba(0, 0, 0, 0.25) inset;
    list-style: none;
    text-align: left;
    padding: 20px;
    font-size: 1.75rem;
}

#dashboard .banned h4 {
    font-size: 20px;
}

#dashboard .banned .selectable-languages {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 25px;
    gap: 1em;
}

#dashboard .banned .selectable-languages .languages-list {
    display: flex;
    align-items: center;
    gap: max(0.75em, 5px);
    list-style: none;
    width: fit-content;
}

#dashboard .banned .selectable-languages .languages-list .language-btn {
    color: var(--text);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: all .5s;
    background-color: #751CC2;
}

#dashboard .banned .selectable-languages .languages-list .language-btn:hover {
    background-color: var(--title);
    background-image: none;
}

#dashboard .banned .selectable-languages .languages-list .language-btn.active {
    background-color: #1C40C2;
    cursor: default;
}

#dashboard .banned .selectable-languages .languages-list .more-btn-container {
    display: flex;
    align-items: center;
}

#dashboard .banned .selectable-languages .responsive-text {
    display: flex;
    column-gap: 0.2em;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

#dashboard .banned .selectable-languages .responsive-text p {
    width: max-content;
}

#dashboard .banned .selectable-languages .languages-list.must-wrap {
    flex-wrap: wrap;
    max-width: 70%;
}

#dashboard .banned .more-btn {
    background: transparent;
    border: none;
    font-size: 50px;
    line-height: 32px;
    height: 32px;
    font-family: 'Baloo', sans-serif;
    color: var(--title);
    cursor: pointer;
    transition: all .5s;
    overflow: hidden; /* To hide the hover not needed, todo solve with a better way *//*
}

#dashboard .banned .more-btn:hover {
    color: #751CC2;
}

#dashboard .banned .ban-captions p {
    color: var(--placeholder);
    text-align: center;
}

#dashboard .banned .ban-captions ul {
    overflow-y: auto;
    max-height: 6.5em; /* 5 lines * 1.2em (line-height) *//*
    color: var(--square);
}

#dashboard .banned .ban-captions li {
    display: flex;
    align-items: center;
    column-gap: 0.75em;
    height: 1.3em;
}

#dashboard .banned .ban-captions li p {
    color: var(--square);
    line-height: 100%;
    overflow: hidden
}

#dashboard .banned .ban-captions li p.removing {
    color: var(--placeholder);
}

#dashboard .banned .ban-captions li button {
    background: transparent;
    border: none;
    cursor: pointer;
}

#dashboard .banned .ban-captions .cross {
    color: #7643A4;
    font-family: "Press Start 2P", sans-serif;
    font-size: 0.75em;
}
*/

#dashboard .banned form,
#dashboard .api form > .api-input,
#dashboard .api .api-connected {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    margin-right: 0;
    gap: 1em;
}

#dashboard .banned form input,
#dashboard .api form input,
#dashboard .api .api-connected h4 {
    width: 100%;
}

#dashboard .banned form button,
#dashboard .api form button,
#dashboard .api .api-connected button {
    min-width: fit-content;
}

#dashboard .api .api-connected h4 {
    border-radius: 10px;
    background: var(--text);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.53) inset;
    font-size: 1.25em;
    color: #2B2B2B;

    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard .api a {
    font-size: 1.5em;
    display: block;
}

#dashboard .api .api-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.5em;
}

#dashboard .api .danger-btn {
    padding: 1em;
}

#dashboard .webhooks .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}
