
#dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

#dashboard h2 {
    font-size: 2.1em;
    line-height: 1.5em;
}

#dashboard h3 {
    font-size: 2em;
    margin-bottom: .25em;
    color: var(--title)
}

#dashboard .theme-select {
    position: relative;
    font-size: 1.25em;
}
/*
#dashboard .custom-option {
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#dashboard .custom-option:hover {
    background-color: var(--square);
    color: var(--text);
}
*/


#dashboard .welcome {
    position: relative;
    padding: 1em;
}

#dashboard .welcome .profile-container {
    height: 2em;
    width: 2em;
    top: 50%;
    transform: translateY(-50%);
    right: .75em;
    position: absolute;
    cursor: pointer;
}

#dashboard .welcome .profile-container .profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--text);
}

#dashboard .welcome .profile-container .logout-box {
    background-color: #D9D9D980;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 1;
}

#dashboard .welcome .profile-container .logout-box img {
    width: 65%;
}

#dashboard .welcome .profile-container:hover .logout-box {
    opacity: 1;
}

#dashboard .welcome .profile-container:hover > img {
    filter: blur(3px);
    transition: filter 0.4s;
}

#dashboard .setting h4 {
    font-size: 1.5em;
    margin-top: 1em;
    text-decoration: underline;
}

#dashboard .setting .setting-options {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 1em;
}

#dashboard .setting .setting-options .theme-select {
    min-width: 0;
    padding-right: 10%;
}

#dashboard .theme-btn.listening {
    flex-shrink: 0;
    width: 14em;
}

.theme-btn.listening:not(.start-btn) {
    background-image: linear-gradient(#2B2B2B, #2B2B2B);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#dashboard .setting .spoken-text {
    margin-top: .5em;
    background-color: var(--text);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    color: var(--square);
    font-size: 1.2em;
    padding: 0.5em 1em;
    height: 5.5em;
    overflow-y: auto;
}

#dashboard .setting .spoken-text p {
    line-height: 1.5em;
    text-align: left;
}

#dashboard .tabs {
    display: flex;
    flex-wrap: nowrap;
    gap: .5em;
    margin: 0 1em;
}

#dashboard .tab {
    font-size: 1em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25em;
    padding: 0.5em .5em .25em ;
    font-family: "Raleway", sans-serif;
    background-color: #4C4C5A;
    color: var(--text);
    border: none;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    width: 100%;
}

#dashboard .tab span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: auto;
}

#dashboard .tab svg {
    font-size: 1.75em;
    fill: var(--text);
    margin-bottom: auto;
}

#dashboard .tab.active {
    color: var(--title);
    background-color: var(--square);
}

#dashboard .tab.active svg {
    fill: var(--title);
}

@media only screen and (max-width: 40rem) {
    #dashboard .tab span {
        display: none;
    }
}

#dashboard .guide h4 {
    font-size: 1.6em;
    color: var(--title);
}

#dashboard .guide ul {
    font-size: 1.25em;
    max-width: 32em;
    margin: .5em auto;
    text-align: left;
}

#dashboard .guide ul li {
    list-style-position: inside;
}

#dashboard .guide .help {
    margin-top: 1em;
    font-size: 1.6em;
}

#dashboard .languages {
    margin-top: 2em;
}

#dashboard .languages .transfer-list-side {
    height: 24em;
    width: 14em;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 40rem) {
    #dashboard .languages .transfer-list-side {
        width: 10em;
    }
}

#dashboard .languages .lang-list {
    padding: 0.5em 1em 0.5em 0;
    background-color: var(--text);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    margin-top: .5em;
    color: var(--square);
    min-height: 0;
    flex: 1;
}

#dashboard .languages .lang-list * {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    overflow: hidden;
}

#dashboard .languages .lang-list .scroll-theme {
    height: 100%;
    overflow: auto;
    padding: 0;
}

#dashboard .languages .language-title {
    font-size: 1.25em;
}

#dashboard .languages .search-input {
    margin: .5em 0;
    width: 100%;
}

#dashboard .languages .search-input input {
    color: var(--button);
    font-family: 'Raleway', sans-serif;
}

/* For a question of selector weight I don't call #dashboard .languages */
.search-input label {
    font-family: 'Raleway', sans-serif;
    color: #5F5F68;
    background-image: linear-gradient(180deg, var(--text) 65%, transparent);
    border-radius: 10px;
}

.search-input label.MuiInputLabel-shrink {
    padding: 0 1em;
    border: 2px solid var(--button);
}

#dashboard .languages .transfer-list-container .MuiInputBase-input {
    background-color: var(--text);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

#dashboard .languages .transfer-list-container .MuiInputBase-formControl {
    border-radius: 10px;
}

#dashboard .languages .switch-btn {
    cursor: pointer;
}

#dashboard .languages .switch-btn:disabled svg > * {
    fill: #5F5F68;
}

#dashboard .languages .switch-btn:not(:disabled):hover {
    background-color: var(--button);
}

#dashboard .ban-words {
    padding: 0 3em;
}

#dashboard .ban-words .ban-words-container {
    border-radius: 10px;
    background: var(--text);
    box-shadow: 10px -10px 20px 5px rgba(0, 0, 0, 0.25) inset;
    list-style: none;
    text-align: left;
    padding: 1em;
    font-size: 1.25em;
}

#dashboard .ban-words .ban-words-container > p {
    color: var(--square);
    text-align: center;
    margin: 3em 0;
    user-select: none;
}

#dashboard .ban-words .ban-words-container ul {
    overflow-y: auto;
    max-height: 7em; /* 5 lines */
    color: var(--square);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#dashboard .ban-words .ban-words-container li {
    display: flex;
    align-items: end;
    column-gap: 0.75em;
}

#dashboard .ban-words .ban-words-container li p {
    color: var(--square);
    line-height: 1em;
    overflow: hidden
}

#dashboard .ban-words .ban-words-container li p.removing {
    color: var(--placeholder);
}

#dashboard .ban-words .ban-words-container li button.cross {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #7643A4;
    font-family: "Press Start 2P", sans-serif;
    font-size: 0.75em;
}

#dashboard .ban-words form {
    margin-bottom: 1.5em;
}

#dashboard .ban-words form input {
    width: 100%;
    font-size: 1.5em;
    text-transform: lowercase;
}

#dashboard .ban-words form input::placeholder {
    text-transform: initial;
}

#dashboard .api .api-form {
    margin-top: 1.5em;
}

#dashboard .api form > .api-input,
#dashboard .ban-words form,
#dashboard .api .api-connected {
    margin-top: .5em;
    display: flex;
    justify-content: center;
    margin-right: 0;
    gap: 1em;
}

#dashboard .api form input,
#dashboard .api .api-connected h4 {
    width: 100%;
}

#dashboard .ban-words form button,
#dashboard .api form button,
#dashboard .api .api-connected button {
    min-width: fit-content;
}

#dashboard .api .api-connected h4 {
    border-radius: 10px;
    background: var(--text);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.53) inset;
    font-size: 1.25em;
    color: #2B2B2B;

    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard .api a {
    font-size: 1.5em;
    display: block;
}

#dashboard .api .api-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.5em;
}

#dashboard .api .danger-btn {
    padding: 1em;
}

#dashboard .twitch {
    text-align: left;
}

#dashboard .obs {
    text-align: left;
    margin: 0 auto;
}

#dashboard .obs p {
    text-align: center;
}

#dashboard .obs .url {
    display: flex;
    width: fit-content;
    gap: 1em;
    margin: 1em auto;
}

#dashboard .obs .url label {
    min-width: 0;
}

#dashboard .obs .url input {
    display: block;
    height: 2.25em;
    width: 100%;
}

#dashboard .obs .customDelay {
    margin-bottom: 3em;
}

#dashboard .obs .customDelay label {
    min-width: 0;
}

#dashboard .obs .customDelay input {
    display: block;
    height: 2.25em;
    width: 100%;
}

#dashboard .webhooks p {
    line-height: 1em;
}

#dashboard .webhooks .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 2em;
}


#dashboard .browser-source > p {
    line-height: 1em;
}

#dashboard .browser-source p.url-preview {
    font-size: 1.25em;
    width: 70%;
    word-wrap: break-word;
    text-align: left;
}

#dashboard .browser-source .url-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-top: 3em;
    width: 100%;
}

#dashboard .browser-source {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#dashboard .browser-source .optional-styling {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#dashboard .browser-source .optional-styling > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#dashboard .browser-source .optional-styling .styling-inputs {
    max-width: 30%;
}

#dashboard .browser-source .optional-styling .styling-inputs > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

#dashboard .browser-source .optional-styling .styling-inputs label {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

#dashboard .browser-source .optional-styling .styling-inputs label .theme-select {
    font-size: 1em;
}

#dashboard .browser-source .optional-styling .styling-inputs label .theme-select,
#dashboard .browser-source .optional-styling .styling-inputs label .theme-color {
    height: 2.5em;
}


#dashboard .browser-source .optional-styling .preview {
    width: 60%;
}

#dashboard .browser-source .optional-styling .preview .preview-content {
    background-image: url(../../assets/browser_preview.webp);
    background-size: cover;
    padding: 1em;
    width: 100%;
    height: 20em;
    border-radius: 1em;
}

#dashboard .browser-source select option[value="Arial"] {
    font-family: Arial;
}

#dashboard .browser-source select option[value="Calibri"] {
    font-family: Calibri
}

#dashboard .browser-source select option[value="Courier New"] {
    font-family: "Courier New";
}

#dashboard .browser-source select option[value="OpenDyslexic"] {
    font-family: OpenDyslexic;
}

#dashboard .browser-source select option[value="Roboto"] {
    font-family: Roboto;
}

#dashboard .browser-source select option[value="Times New Roman"] {
    font-family: "Times New Roman";
}

#dashboard .browser-source select option[value="Verdana"] {
    font-family: Verdana;
}