@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway.ttf") format('truetype');
}

@font-face {
    font-family: "Press Start 2P";
    src: url("/fonts/PressStart2P.ttf") format('truetype');
}

@font-face {
    font-family: "Calibri";
    src: url('/fonts/Calibri_Regular.ttf') format('truetype');
}

@font-face {
    font-family: "OpenDyslexic";
    src: url('/fonts/OpenDyslexic-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}