#navbar {
    width: 20em;
    flex: 0;
}

#laptopNavbar {
    position: sticky;
    top: 2em;
}

#navbar > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar .logo-container {
    width: 100%;
    margin: 0 auto 1.5em;
    position: relative;
}

#navbar .logo-container img {
    width: 100%;
}

#navbar .secret {
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 48%;
    left: 28%;
}

#navbar .theme-box a.main-title {
    text-decoration: none;
    font-family: "Press Start 2P", sans-serif;
    color: var(--text);
}

#navbar .spacer {
    height: 3px;
    width: 75%;
    margin: 1.5em auto;
    background-color: var(--text);
}
/*
@media (max-width: 1300px) {
    #navbar .spacer {
        margin-top: 3vh;
    }
}*/

#navbar .main-links,
#navbar .secondary-links {
    display: grid;
    justify-items: center;
    justify-content: center;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: .5em;
}

@media (max-width: 1300px) {

    #navbar .main-links,
    #navbar .secondary-links {
        font-size: 1em;
    }
}

@media (max-width: 1500px) {

    #navbar .main-links,
    #navbar .secondary-links {
        font-size: 1.25em;
    }
}

#navbar .main-links {
    margin-top: .5em;
    gap: 1em;
    line-height: .75em;
}

#navbar .main-links a {
    font-size: 2em;
    margin-bottom: .5em;
    text-decoration: none;
    transition: all 0.5s;
}

#navbar .main-links .dashboard {
    margin-bottom: min(8vh);
}

#navbar .secondary-links a {
    text-decoration: none;
    transition: all 0.5s;
}

#navbar .main-links a,
#navbar .secondary-links a {
    position: relative;
    width: fit-content;
}

#navbar .main-links a:hover,
#navbar .secondary-links a:hover {
    transform: scale(1.05);
}

#navbar .main-links a.active,
#navbar .secondary-links a.active {
    text-decoration: underline;
    text-decoration-color: var(--title);
    text-decoration-thickness: 3px;
    color: var(--button);
}

#navbar .secondary-links {
    margin-top: 6em;
}

#navbar .socials {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5em;
}

#navbar .socials a {
    transition: transform .25s;
}

#navbar .socials a:hover,
#navbar .socials a:focus {
    transform: scale(1.1);
}

#navbar .socials svg > * {
    fill: var(--text);
}

#navbar .main-links a:not(.active):after,
#navbar .secondary-links a:not(.active):after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    right: 0;
    background: var(--title);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

#navbar .secondary-links a:not(.active):after {
    bottom: 7px;
}

#navbar .main-links a:not(.active):after {
    top: 32px;
}

#navbar .main-links a:not(.active):hover:after,
#navbar .secondary-links a:not(.active):hover:after {
    width: 100%;
    left: 0;
    background: var(--title);
}


#navbar #burger-menu {
    font-size: .25em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    gap: 2em;

    height: fit-content;
    width: fit-content;
    padding: 3em;
    background-color: #9F4EE5;
    border: solid 2px var(--square);
    border-radius: 15px;
    cursor: pointer;
}

#navbar #burger-menu .bar {
    width: 12em;
    height: 3em;
    border-radius: 6px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.25);
    background-color: var(--square);
    transition: all 0.5s;
}

#navbar #burger-menu:hover .bar {
    transform: scale(1.05);
}

#navbar #nonLaptopNavbar .main-img img {
    width: 10em;
    height: auto;
}

#navbar .close {
    display: none;
}

#navbar #nonLaptopNavbar {
    display: none;
    flex-direction: row;
}

/* Mobile navbar */
@media (max-width: 60rem) {
    #navbar {
        width: 100%;
    }

    #navbar #nonLaptopNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    #navbar #laptopNavbar {
        width: fit-content;
        position: absolute;
        right: 0;
        left: auto;
        top: 0;
        bottom: 0;
        height: 100vh;
        background: #7643A4;
        box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 30;
        transition: right .5s;
    }

    #navbar #laptopNavbar:not(.show) {
        right: -70vw;
    }

    #navbar #laptopNavbar .logo-container {
        display: none;
    }

    #navbar #laptopNavbar .main-title {
        font-size: 1.5em;
        width: 30vw;
        min-width: min-content;
    }

    #navbar #laptopNavbar .close {
        display: block;
    }
}

@media (max-width: 30rem) {
    #navbar #laptopNavbar {
        width: 100vw;
    }

    #navbar #laptopNavbar:not(.show) {
        right: -100vw;
    }
}
