#thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

#thanks .theme-box.top {
    padding: 1em;
    width: auto ;
}

#thanks h2 {
    font-size: 2em;
    text-align: center;
}

#thanks .thanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--gap) * 0.5);
    padding: 1.5em 1em;
}

@media screen and (max-width: 1200px) {
    #thanks .thanks-container {
        padding: .5em;
    }
}

#thanks .thanks-container h3 {
    font-size: 2em;
}

#thanks .thanks-container ul.main {
    width: 100%;
    padding: 1em 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--gap) * 2);
    row-gap: calc(var(--gap) * 2);
    list-style: none;
}

@media screen and (max-width: 1200px) {
    #thanks .thanks-container .thanks-card {
        padding: .5em;
    }
}

#thanks .thanks-container .thanks-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(var(--gap) * 0.2);
    width: 10em;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    #thanks .thanks-container .thanks-card {
        width: 8em;
    }
}

@media screen and (max-width: 800px) {
    #thanks .thanks-container .thanks-card {
        width: 6em;
    }
}

#thanks .thanks-container .thanks-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#thanks .thanks-container .thanks-card h4 {
    font-size: 1.25em;
    line-height: 1em;
    height: 2em;
    display: flex;
    flex-direction: column-reverse;
}

#thanks .thanks-container .thanks-card p {
    font-size: 1em;
    text-align: center;
    width: 100%;
    color: var(--button);
}


#thanks .thanks-container > p.others {
    font-size: 1.25em;
    margin-top: 2em;
}

#thanks .thanks-container > p.others .other-contributors {
    font-weight: bold;
}

#thanks .thanks-container > p {
    margin-top: .25em;
}