#thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

#thanks h2 {
    font-size: 2.1rem;
    font-weight: 400;
    text-align: center;
    width: fit-content;
    padding: 0.5em 1em;
}

#thanks .thanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--gap) * 0.5);
}

#thanks .thanks-container h3 {
    font-size: 2rem;
    font-weight: 400;
}

#thanks .thanks-container ul.main {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: calc(var(--gap) * 1.5);
    list-style: none;
}

#thanks .thanks-container ul.main li {
    min-width: 25%;
}

#thanks .thanks-container .thanks-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(var(--gap) * 0.2);
    width: 200px;
    margin: 0 auto;
}

/* Media queries */
@media screen and (max-width: 1830px) {
    #thanks .thanks-container .thanks-card {
        width: 150px;
    }
}

#thanks .thanks-container .thanks-card img {
    width: clamp(100px, 10vw, 200px);
    height: clamp(100px, 10vw, 200px);
    object-fit: cover;
    border-radius: 50%;
}

#thanks .thanks-container .thanks-card h4 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1em;
}

#thanks .thanks-container .thanks-card p {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    width: 100%;
    color: var(--button);
}