@font-face {
  font-family: "Arial";
  src: url("fonts/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Calibri";
  src: url("fonts/calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Times New Roman";
  src: url("fonts/times.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("fonts/verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --caption-font-color: 255, 255, 255;
  --caption-font-size: 24px;
  --caption-font-family: Arial;
  --caption-max-lines: 2;
  --caption-background-color: 55, 55, 62;
  --caption-background-opacity: 0.5;
  --caption-stroke-color: #000000;
  --caption-stroke-size: 0px;
}

html {
  background-image: url("../aypierreStream.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body#ultimate-closed-caption {
  max-width: 100vw;
  max-height: 100vh;
  padding: 1rem 0;
  position: relative;
}
body#ultimate-closed-caption #caption-movable-area {
  width: 100vw;
  height: calc(100vh - 1rem * 2);
}
body#ultimate-closed-caption #caption-movable-area #caption-box {
  position: absolute;
  width: 60%;
  background-color: rgba(var(--caption-background-color), var(--caption-background-opacity));
  color: rgb(var(--caption-font-color));
  font-size: var(--caption-font-size);
  font-family: var(--caption-font-family), sans-serif;
  -webkit-text-stroke: var(--caption-stroke-size) var(--caption-stroke-color);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body#ultimate-closed-caption #caption-movable-area #caption-box:not(.locked) {
  cursor: move;
}
body#ultimate-closed-caption #caption-movable-area #caption-box .caption-content-box {
  display: flex;
  flex-direction: column-reverse;
  max-height: calc(1.25em * var(--caption-max-lines));
  margin: min(0.5em, 1rem);
  overflow: hidden;
  text-align: left;
  font-size: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body#ultimate-closed-caption #caption-movable-area #caption-box .caption-content-box p#caption-content {
  line-height: 1.25em;
  font-size: 1em;
  color: inherit;
  font-family: inherit;
  -webkit-text-stroke: inherit;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings {
  position: absolute;
  left: 0;
  top: 5rem;
  z-index: 1;
  min-height: 16em;
  max-height: calc(100vh - 5rem * 2 - clamp(2rem, 1.5vw, 3rem) - 1rem - 1.5rem);
  /*
      100vh = 100% of the height of the screen
      - 5rem * 2 = 2 times the margin of the settings box
      - clamp(2rem, 1.5vw, 3rem) = the size of the settings wheel
      - 1rem = the margin of the settings wheel
      - 1.5rem = the gap between the settings wheel and the settings box
  */
  width: 16em;
  padding: 0.2em 0.5em 1em;
  transition: width 0.5s;
  color: #D9D9D9;
  background-color: rgba(31, 31, 35, 0.95);
  font-size: clamp(1em, 2.25vh, 3em);
  font-family: "Arial", sans-serif;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden auto;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings::-webkit-scrollbar {
  width: 0.5em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings::-webkit-scrollbar-track {
  background-color: #D9D9D9;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings::-webkit-scrollbar-thumb {
  background-color: #1F1F23;
  border-radius: 0.5em;
  border: 0.15em solid #D9D9D9;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-header-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-header-container h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  width: 100%;
  text-align: center;
  margin: auto;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-header-container button#caption-settings-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  font-size: 2em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-header-container button#caption-settings-close-btn polygon {
  fill: #D9D9D9;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-header-container button#caption-settings-close-btn:hover {
  transform: scale(1.1);
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group select {
  width: 7em;
  height: 1.5em;
  border: 0;
  border-radius: 0.6em;
  padding-left: 0.5em;
  padding-right: 2em;
  font-size: 0.9em;
  text-align: left;
  color: rgba(31, 31, 35, 0.85);
  background-color: #D9D9D9;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: 0 3.3px 3.3px 0 rgba(31, 31, 35, 0.25) inset;
  /* Remove arrow */
  appearance: none;
  /* Add my customisable arrow */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" fill="%231F1F23D9"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 97.5%;
  background-position-y: 50%;
  background-size: 1.25rem;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group select:not(:disabled) {
  cursor: pointer;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group select:focus, body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group select:active {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(217, 217, 217, 0.4);
  transition: box-shadow 0.5s;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group.isOpen .caption-group-header button.chevron {
  transform: rotate(-90deg);
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group:not(.isOpen) .caption-group-content {
  display: none;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group#language .caption-group-header {
  flex-direction: column;
  font-size: 1em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group#language .caption-group-header h3 {
  font-size: 1.5em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group#language .caption-group-header select {
  width: 100%;
  margin-top: 0.375em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group:not(#language) .caption-group-header {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-header {
  display: flex;
  width: 100%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-header:focus {
  outline: none;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-header h3 {
  font-size: 1.5em;
  font-weight: normal;
  text-align: left;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-header button.chevron {
  border: none;
  background-color: transparent;
  font-size: 1.25em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
  padding: 0;
  margin: 0;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-header button.chevron svg {
  width: 1em;
  height: 1em;
  fill: #D9D9D9;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group > div {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.125em;
  background-color: #D9D9D9;
  border-radius: 0.25em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.75em;
  margin-bottom: 0.9375em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.9em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-opacity, body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-font-family {
  flex-direction: column;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-opacity > div, body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-font-family > div {
  display: flex;
  justify-content: space-between;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-opacity > select, body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-font-family > select {
  width: 100%;
  margin-top: 0.375em;
  line-height: 1.1em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-opacity > input[type=range], body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-font-family > input[type=range] {
  margin-top: 0.75em;
  margin-bottom: 0.35em;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 0.3em;
  box-shadow: none;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-opacity > input[type=range]:focus, body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-font-family > input[type=range]:focus {
  outline: none;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-opacity > input[type=range]::-webkit-slider-thumb, body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item.group-font-family > input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #4C4C5A;
  border: 0.25em solid #D9D9D9;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item .caption-number-container {
  position: relative;
  color: rgba(31, 31, 35, 0.85);
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item .caption-number-container input {
  padding-right: 1.2em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item .caption-number-container .units {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1em;
  height: 1.5em;
  width: 7em;
  line-height: 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  pointer-events: none;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item .caption-number-container .units span.invisible {
  visibility: hidden;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item label {
  font-size: 1em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item input {
  height: 1.5em;
  width: 7em;
  border: 0;
  border-radius: 0.6em;
  padding: 0;
  margin: 0;
  background-color: #D9D9D9;
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  color: rgba(31, 31, 35, 0.85);
  text-align: center;
  box-shadow: 0 3.3px 3.3px 0 rgba(31, 31, 35, 0.25) inset;
  cursor: pointer;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item input::-webkit-outer-spin-button, body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item input[type=color]::-moz-color-swatch {
  border-radius: 0.6em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item input:focus, body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item input:active {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(217, 217, 217, 0.4);
  transition: box-shadow 0.5s;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item input:not(input[type=range])::-webkit-color-swatch {
  border: none;
  border-radius: 0.6em;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-settings-container .caption-group .caption-group-content .caption-group-content-item input:not(input[type=range])::-webkit-color-swatch-wrapper {
  padding: 0;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-button-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-button-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1em;
  margin: 1em 0;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-button-container button {
  padding: 0.2em 1em;
  border: 0;
  border-radius: 0.5em;
  font-size: 1em;
  font-family: inherit;
  line-height: 1em;
  background-color: #4C4C5A;
  color: inherit;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-button-container button#caption-lock-position {
  padding: 0.5em 0;
}
body#ultimate-closed-caption #caption-movable-area #caption-settings .caption-button-container button:hover {
  background-color: rgba(217, 217, 217, 0.95);
  color: #4C4C5A;
}
body#ultimate-closed-caption #caption-movable-area #caption-btn-container {
  position: absolute;
  left: 0;
  bottom: 5rem;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: rgba(31, 31, 35, 0.95);
}
body#ultimate-closed-caption #caption-movable-area #caption-btn-container #caption-settings-btn {
  border: none;
  background-color: transparent;
  font-size: clamp(2rem, 1.5vw, 3rem);
  border-radius: 50%;
  cursor: pointer;
}
body#ultimate-closed-caption #caption-movable-area #caption-btn-container #caption-settings-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
body#ultimate-closed-caption #caption-movable-area #caption-btn-container #caption-settings-btn:hover path {
  fill: rgba(var(--caption-font-color), 0.5);
}
body#ultimate-closed-caption #caption-movable-area #caption-btn-container #caption-settings-btn path {
  fill: rgb(var(--caption-font-color));
  transition: fill 0.2s;
}

option[value=Arial] {
  font-family: Arial, sans-serif;
}

option[value=Calibri] {
  font-family: Calibri, sans-serif;
}

option[value=OpenDyslexic] {
  font-family: OpenDyslexic, sans-serif;
}

option[value=Roboto] {
  font-family: Roboto, sans-serif;
}

option[value="Times New Roman"] {
  font-family: Times New Roman, sans-serif;
}

option[value=Verdana] {
  font-family: Verdana, sans-serif;
}/*# sourceMappingURL=main.css.map */