@font-face {
  font-family: "Arial";
  src: url("fonts/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("fonts/arialbd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Calibri";
  src: url("fonts/calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Times New Roman";
  src: url("fonts/times.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("fonts/verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --caption-font-color: 217, 217, 217;
  --caption-font-size: 16px;
  --caption-font-family: Arial;
  --caption-max-lines: 2;
  --caption-background-color: 55, 55, 62;
  --caption-background-opacity: 0.5;
  --caption-stroke-color: #000000;
  --caption-stroke-size: 0px;
}

body {
  background-image: url("../aypierreStream.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body#ultimate-closed-caption {
  max-width: 100vw;
  max-height: 100vh;
}
body#ultimate-closed-caption #caption-movable-area {
  position: relative;
  width: 100vw;
  height: calc(100vh - 5rem * 2);
  margin: 5rem 0;
}
body#ultimate-closed-caption #caption-movable-area #caption-box {
  position: absolute;
  width: 60%;
  background-color: rgba(var(--caption-background-color), var(--caption-background-opacity));
  color: rgb(var(--caption-font-color));
  font-size: var(--caption-font-size);
  font-family: var(--caption-font-family), sans-serif;
  -webkit-text-stroke: var(--caption-stroke-size) var(--caption-stroke-color);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body#ultimate-closed-caption #caption-movable-area #caption-box:not(.locked) {
  cursor: move;
}
body#ultimate-closed-caption #caption-movable-area #caption-box:hover .caption-content-box button#caption-settings-btn {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
body#ultimate-closed-caption #caption-movable-area #caption-box .caption-content-box {
  max-height: calc(1.25em * var(--caption-max-lines));
  margin: min(0.5em, 1rem);
  overflow: hidden;
  text-align: left;
  font-size: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body#ultimate-closed-caption #caption-movable-area #caption-box .caption-content-box p.caption-content {
  line-height: 1.25em;
  font-size: 1em;
  color: inherit;
  font-family: inherit;
  -webkit-text-stroke: inherit;
}
body#ultimate-closed-caption #caption-movable-area #caption-box .caption-content-box #caption-settings-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 2s ease-in-out;
}
body#ultimate-closed-caption #caption-movable-area #caption-box .caption-content-box #caption-settings-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
body#ultimate-closed-caption #caption-movable-area #caption-box .caption-content-box #caption-settings-btn:hover path {
  fill: rgba(var(--caption-font-color), 0.5);
}
body#ultimate-closed-caption #caption-movable-area #caption-box .caption-content-box #caption-settings-btn:not(.isOpen) {
  opacity: 0;
}
body#ultimate-closed-caption #caption-movable-area #caption-box .caption-content-box #caption-settings-btn path {
  fill: rgb(var(--caption-font-color));
  transition: fill 0.2s;
}
body#ultimate-closed-caption #caption-settings {
  min-height: 300px;
  width: 400px;
  padding: 0.2em 0.5em 1em;
  position: absolute;
  right: 0;
  top: 0;
  transition: width 0.5s;
  color: #CECED1;
  background-color: rgba(31, 31, 35, 0.95);
  font-size: 26px;
  font-family: "Arial", sans-serif;
  flex-direction: column;
  justify-content: space-between;
}
body#ultimate-closed-caption #caption-settings .caption-header-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
body#ultimate-closed-caption #caption-settings .caption-header-container h2 {
  font-size: 1em;
  font-weight: normal;
  width: 100%;
  text-align: center;
  margin: auto;
}
body#ultimate-closed-caption #caption-settings .caption-header-container button#caption-settings-close-btn {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
body#ultimate-closed-caption #caption-settings .caption-header-container button#caption-settings-close-btn polygon {
  fill: #D9D9D9;
}
body#ultimate-closed-caption #caption-settings .caption-header-container button#caption-settings-close-btn:hover {
  transform: scale(1.1);
}
body#ultimate-closed-caption #caption-settings .caption-settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /*
                  label {
                      font-size: 1em;
                      width: fit-content;
                  }

                  input, select {
                      width: 100%;
                      background-color: rgb(var(--caption-font-color), $default-background-opacity);
                      border: 0;
                      font-size: 1em;
                      line-height: 1em;
                      font-family: inherit;
                      color: rgb(var(--caption-background-color));
                      font-weight: bold;
                      border-radius: 0.75em;
                      cursor: pointer;
                      height: 1.5em;
                      margin: 0.25em 0;
                      padding: 0 0.75em;

                      &:focus, &:active {
                          outline: none;
                          box-shadow: 0 0 5px 2px rgba(var(--caption-background-color), $default-background-opacity);
                          transition: box-shadow 0.5s;
                      }
                  }

                  input:not(input[type="range"]) {
                      padding: 0.2em 0.75em;

                      &::-webkit-color-swatch {
                          border: none;
                          border-radius: 0.5em;
                      }
                  }

                  input[type="range"] {
                      appearance: none;

                      &::-webkit-slider-thumb {
                          appearance: none;
                          width: 1em;
                          height: 1em;
                          border-radius: 50%;
                          background-color: rgb(var(--caption-background-color));
                          transition: background-color 0.5s;
                      }

                      &:hover {
                          &::-webkit-slider-thumb {
                              background-color: rgb(var(--caption-font-color));
                          }
                      }

                      &::-ms-thumb {
                          width: 1.5em;
                          height: 1.5em;
                          border-radius: 50%;
                          background-color: rgb(var(--caption-background-color));
                          cursor: pointer;
                          transition: all 0.5s;
                      }
                  }
                  */
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group:not(.isOpen) .caption-group-content {
  display: none;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group#language .caption-group-header {
  flex-direction: column;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group:not(#language) .caption-group-header {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group .caption-group-header {
  display: flex;
  width: 100%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.5em;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group .caption-group-header:focus {
  outline: none;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group .caption-group-header h3 {
  font-size: 1em;
  font-weight: normal;
  text-align: left;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group .caption-group-header button.chevron {
  border: none;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
  padding: 0;
  margin: 0;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group .caption-group-header button.chevron svg {
  width: 1em;
  height: 1em;
  fill: #D9D9D9;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group > div {
  padding-right: 20px;
  padding-left: 20px;
}
body#ultimate-closed-caption #caption-settings .caption-settings-container .caption-group::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(var(--caption-font-color));
  border-radius: 100px;
}
body#ultimate-closed-caption #caption-settings .caption-button-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
body#ultimate-closed-caption #caption-settings .caption-button-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1em;
  margin: 1em 0;
}
body#ultimate-closed-caption #caption-settings .caption-button-container button {
  padding: 0.2em 1em;
  border: 0;
  border-radius: 0.5em;
  font-size: 1em;
  font-family: inherit;
  line-height: 1em;
  background-color: #4C4C5A;
  color: inherit;
  cursor: pointer;
  width: 100%;
}
body#ultimate-closed-caption #caption-settings .caption-button-container button#caption-lock-position {
  padding: 0.5em 0;
}

option[value=Arial] {
  font-family: Arial, sans-serif;
}

option[value=Calibri] {
  font-family: Calibri, sans-serif;
}

option[value=OpenDyslexic] {
  font-family: OpenDyslexic, sans-serif;
}

option[value=Roboto] {
  font-family: Roboto, sans-serif;
}

option[value="Times New Roman"] {
  font-family: Times New Roman, sans-serif;
}

option[value=Verdana] {
  font-family: Verdana, sans-serif;
}/*# sourceMappingURL=main.css.map */