@import 'fonts';

// Caption variables
$caption-settings-distance: 10px;
$caption-line-height: 1.25em;
$caption-container-padding: 0.5em;
$caption-movable-Y: 5rem;
$caption-movable-X: 0;

// Ultimate CC theme
$theme-text-color: #D9D9D9;
$theme-background-color: #37373E;

$settings-text-color: $theme-text-color;
$settings-button-color: #4C4C5A;
$settings-background-color: #1F1F23;

// Settings variables
$settings-font-size: 24px;
$settings-width: 16em;
$settings-font-family: "Arial";
$settings-inside-padding: 1.25rem;
$settings-gap-between-group: 0.75em;
$settings-input-border-radius: 0.6em;
$settings-input-size: 7em;
$settings-input-shadow: 0 3.3px 3.3px 0 rgba($settings-background-color, 0.25) inset;
$settings-input-shadow-out: 0 0 3px 2px rgba($settings-text-color, 0.4);


// Convert HEX to RGB
@function hexToRgb($hex) {
    @return red($hex), green($hex), blue($hex);
}

$default-font-color: hexToRgb(#fff);
$default-font-size: 16px;
$default-font-family: "Arial";
$default-max-lines: 2;
$default-background-color: hexToRgb($theme-background-color);
$default-background-opacity: 0.5; 
$default-stroke-color: #000000;
$default-stroke-size: 0px;

// Default settings
:root {
    --caption-font-color: #{$default-font-color};
    --caption-font-size: #{$default-font-size};
    --caption-font-family: #{$default-font-family};
    --caption-max-lines: #{$default-max-lines};
    --caption-background-color: #{$default-background-color};
    --caption-background-opacity: #{$default-background-opacity};
    --caption-stroke-color: #{$default-stroke-color};
    --caption-stroke-size: #{$default-stroke-size};
}

// Temporary (to have an idea of the result)
body {
    background-image: url("../aypierreStream.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body#ultimate-closed-caption {
    // Lock scroll
    max-width: 100vw;
    max-height: 100vh;

    // Caption container
    #caption-movable-area {
        position: relative;
        
        // Do calc only if needed
        width: if($caption-movable-X == 0, 100vw, calc(100vw - #{$caption-movable-X} * 2));
        height: if($caption-movable-Y == 0, 100vh, calc(100vh - #{$caption-movable-Y} * 2));

        margin: $caption-movable-Y $caption-movable-X; // Advice by twitch 5rem 7rem 5rem 0
        
        // Caption box container
        #caption-box {
            position: absolute; // To be able to move it
            width: 60%;
            
            // Apply main settings
            background-color: rgba(var(--caption-background-color), var(--caption-background-opacity));
            color: rgb(var(--caption-font-color));
            font-size: var(--caption-font-size);
            font-family: var(--caption-font-family), sans-serif;
            -webkit-text-stroke: var(--caption-stroke-size) var(--caption-stroke-color);

            backdrop-filter: blur(5px);
            
            // If it's locked, don't show the cursor
            &:not(.locked) {
                cursor: move;
            }

            // Settings wheel
            &:hover {
                .caption-content-box button#caption-settings-btn {
                    opacity: 1;
                    transition: opacity 0.5s ease-in-out;
                }
            }

            .caption-content-box {
                max-height: calc(#{$caption-line-height} * var(--caption-max-lines));
                margin: min($caption-container-padding, 1rem);
                overflow: hidden; // Don't show the rest of the text
                
                text-align: left;
                font-size: 1em;
                user-select: none;

                p.caption-content { // Apply text settings
                    line-height: $caption-line-height;
                    font-size: 1em;
                    color: inherit;
                    font-family: inherit;
                    -webkit-text-stroke: inherit;
                }

                // Settings wheel
                #caption-settings-btn {
                    border: none;
                    background-color: transparent;
                    position: absolute;
                    top: $caption-settings-distance;
                    right: $caption-settings-distance;
                    font-size: 1.9rem;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: opacity 2s ease-in-out;
                
                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.2s ease-in-out;
                
                        path {
                            fill: rgba(var(--caption-font-color), $default-background-opacity);
                        }
                    }
                
                    &:not(.isOpen) {
                        opacity: 0;
                    }
                
                    path {
                        fill: rgb(var(--caption-font-color));
                        transition: fill 0.2s;
                    }
                }
            }
        }
    }

    // Settings box
    #caption-settings {
        min-height: $settings-width;
        max-height: 100vh;
        width: $settings-width;
        padding: 0.2em 0.5em 1em;
        
        position: absolute;
        left: 0;
        top: 0;
        
        transition: width 0.5s;
        
        color: $settings-text-color;
        background-color: rgba($settings-background-color, 0.95);
        font-size: $settings-font-size;
        font-family: $settings-font-family, sans-serif;

        flex-direction: column;
        justify-content: space-between;

        overflow: hidden auto;

        // Scroll style
        &::-webkit-scrollbar {
            width: 0.5em;
        }

        &::-webkit-scrollbar-track {
            background-color: $settings-text-color;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $settings-background-color;
            border-radius: 0.5em;
            border: 0.15em solid $settings-text-color;
        }

        // Title and close button
        .caption-header-container {
            display: flex;
            justify-content: space-between;
            align-items: start;
            position: relative;
        
            h2 {
                font-size: 1.5em;
                line-height: 1.5em;
                font-weight: normal;
                width: 100%;
                text-align: center;
                margin: auto;
            }
        
            button#caption-settings-close-btn {
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                background-color: transparent;
                polygon {
                    fill: $settings-text-color;
                }
                font-size: 2em;
                cursor: pointer;
                transition: transform 0.2s ease-in-out;
        
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        // Main content
        .caption-settings-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            .caption-group {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                
                select {
                    width: $settings-input-size;
                    height: 1.5em;
                    border: 0;
                    border-radius: $settings-input-border-radius;
                    padding-left: 0.5em;
                    padding-right: 2em;
                    font-size: 0.9em;
                    text-align: left;
                    color: rgba($settings-background-color, 0.85);
                    background-color: $settings-text-color;
                    appearance: none;
                    box-shadow: $settings-input-shadow;

                    &:not(:disabled) {
                        cursor: pointer;
                    }

                    &:focus, &:active {
                        outline: none;
                        box-shadow: $settings-input-shadow-out;
                        transition: box-shadow 0.5s;
                    }

                    /* Remove arrow */
                    appearance: none;

                    /* Add my customisable arrow */
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" fill="%231F1F23D9"/></svg>');
                    background-repeat: no-repeat;
                    background-position-x: 97.5%;
                    background-position-y: 50%;
                    background-size: 1.25rem;
                }

                // If it's open, change the rotation
                &.isOpen {
                    .caption-group-header button.chevron {
                        transform: rotate(-90deg);
                    }
                }
                &:not(.isOpen)  { // Else
                    .caption-group-content {
                        display: none;
                    }
                }

                // If it's the language group, change the direction
                &#language {
                    .caption-group-header {
                        flex-direction: column;
                        font-size: 1em;

                        h3 {
                            font-size: 1.5em;
                        }

                        select {
                            width: 100%;
                            margin-top: calc($settings-gap-between-group / 2);
                        }
                    }
                }
                &:not(#language) .caption-group-header { // Else
                    cursor: pointer;
                    justify-content: space-between;
                    align-items: center;
                }

                .caption-group-header {
                    display: flex;
                    
                    width: 100%;
                    padding-top: 0.75em;
                    padding-bottom: 0.75em;
                    user-select: none;

                    &:focus {
                        outline: none;
                    }

                    h3 {
                        font-size: 1.5em;
                        font-weight: normal;
                        text-align: left;
                    }

                    button.chevron {
                        border: none;
                        background-color: transparent;
                        font-size: 1.25em;
                        cursor: pointer;
                        transition: transform 0.2s ease-in-out;
                        transform: rotate(0deg);
                        padding: 0;
                        margin: 0;
                        width: 1em;
                        height: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;

                        svg {
                            width: 1em;
                            height: 1em;
                            fill: $settings-text-color;
                        }
                    }
                }

                > div {
                    padding-right: $settings-inside-padding;
                    padding-left: $settings-inside-padding;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 0.125em;
                    background-color: $settings-text-color;
                    border-radius: 0.25em;
                }

                .caption-group-content {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    gap: $settings-gap-between-group;
                    margin-bottom: calc($settings-gap-between-group * 1.25);

                    .caption-group-content-item {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        font-size: 0.9em;

                        &.group-opacity, &.group-font-family {
                            flex-direction: column;

                            > div {
                                display: flex;
                                justify-content: space-between;
                            }

                            > select {
                                width: 100%;
                                margin-top: calc($settings-gap-between-group / 2);
                                line-height: 1.1em;
                            }

                            > input[type="range"] {
                                margin-top: $settings-gap-between-group;
                                margin-bottom: calc((1em - 0.3em)/2); // 1em = height of thumb, 0.3em = height of range
                                width: 100%;
                                appearance: none;
                                height: 0.3em;
                                box-shadow: none;

                                &:focus {
                                    outline: none;
                                }

                                &::-webkit-slider-thumb {
                                    appearance: none;
                                    width: 1em;
                                    height: 1em;
                                    border-radius: 50%;
                                    background-color: $settings-button-color;
                                    border: 0.25em solid $settings-text-color;
                                }
                            }
                        }

                        .caption-number-container {
                            position: relative;
                            color: rgba($settings-background-color, 0.85);

                            input {
                                padding-right: 1.2em;
                            }

                            .units {
                                position: absolute;
                                right: 0;
                                top: 0;
                                font-size: 1em;
                                height: 1.5em;
                                width: $settings-input-size;
                                line-height: 1.5em;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                gap: 0.1em;
                                pointer-events: none;

                                span {
                                    &.invisible {
                                        visibility: hidden;
                                    }
                                }
                            }
                        }

                        label {
                            font-size: 1em;
                        }

                        input {
                            height: 1.5em;
                            width: $settings-input-size;
                            border: 0;
                            border-radius: $settings-input-border-radius;
                            padding: 0;
                            margin: 0;
                            background-color: $settings-text-color;
                            
                            font-family: inherit;
                            font-weight: normal;
                            font-size: 1em;
                            line-height: 1em;
                            color: rgba($settings-background-color, 0.85);
                            text-align: center;
                            box-shadow: $settings-input-shadow;
                            
                            cursor: pointer;

                            // Remove arrows on number input
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            // Remove arrows on Firefox
                            &[type=number] {
                                appearance: textfield;
                                -moz-appearance: textfield;
                            }

                            // Border radius on color picker on Firefox
                            &[type=color]::-moz-color-swatch {
                                border-radius: $settings-input-border-radius;
                            }
                            
                            &:focus, &:active {
                                outline: none;
                                box-shadow: $settings-input-shadow-out;
                                transition: box-shadow 0.5s;
                            }

                            &:not(input[type="range"]) {
                                &::-webkit-color-swatch {
                                    border: none;
                                    border-radius: $settings-input-border-radius;
                                }

                                &::-webkit-color-swatch-wrapper {
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Buttons
        .caption-button-container {
            display: flex;
            flex-direction: column;
            padding: 0 $settings-inside-padding;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                gap: 1em;
                margin: 1em 0;
            }
            
            button {
                padding: 0.2em 1em;
                border: 0;
                border-radius: 0.5em;
                font-size: 1em;
                font-family: inherit;
                line-height: 1em;
                background-color: $settings-button-color;
                color: inherit;
                cursor: pointer;
                width: 100%;
                &#caption-lock-position {
                    padding: 0.5em 0;
                }

                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

                &:hover {
                    background-color: rgba($settings-text-color, 0.95);
                    color: $settings-button-color;
                }
            }
        }
    }
}

@each $font in $font-families {
    option[value="#{$font}"] {
        font-family: #{$font}, sans-serif;
    }
}