	
// Ultimate CC theme
$theme-font-family: Arial, Helvetica, sans-serif;
$theme-font-size: 1.25em; /*clamp(1em, 2.25vh, 2em);*/
$theme-text-color: #D9D9D9;
$theme-background-color: #37373E;

// Caption variables
$caption-line-height: 1.25em;
$caption-container-padding: .25em .5em;
$caption-movable-Y: 0;
$caption-movable-X: 0;

// Settings variables
$settings-text-color: $theme-text-color;
$settings-button-color: #4C4C5A;
$settings-background-color: #1F1F23;
$settings-background-opacity: 0.95;
$settings-movable-top: 6rem;
$settings-movable-bottom: 5rem;
$settings-font-size: clamp(1em, 2vh, 1.75em);
$settings-width: 18em;
$settings-font-family: $theme-font-family;
$settings-inside-padding: 1em;
$settings-gap-between-group: 0.75em;
$settings-input-border-radius: 0.6em;
$settings-input-size: 7em;
$settings-input-shadow: 0 3.3px 3.3px 0 rgba($settings-background-color, 0.25) inset;
$settings-input-shadow-out: 0 0 3px 2px rgba($settings-text-color, 0.4);
$settings-disabled-color: #707075;

// Transcript variables
$transcript-background-color: #1F1F23;

// Buttons variables
$buttons-height: 2.75em;
$buttons-size: 1.5em;
$buttons-padding-X: .25em;
$buttons-padding-Y: .2em;
$buttons-min-gap: .1em;