server {
    listen       ${LISTEN_PORT};
    listen  [::]:${LISTEN_PORT};
    server_name  _;

    resolver 127.0.0.11 valid=30s;
    
    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        #try_files $uri $uri/ /index.html;
        try_files $uri $uri/ $uri.html /index.html;
    }

}