// Ultimate CC theme
$theme-font-family: "Lexend", Arial, sans-serif;
$theme-font-size: 1.25em; /*clamp(1em, 2.25vh, 2em);*/
$theme-text-color: #DFDCFF;
$theme-background-color: #364FD9;
$theme-background-darken: #0A0D21;

// Caption variables
$caption-line-height: 1.25em;
$caption-container-padding: .25em .5em;
$caption-movable-Y: 0;
$caption-movable-X: 0;

// Settings variables
$settings-text-color: $theme-text-color;
$settings-text-secondary: #1F1F23;
$settings-background-color: $theme-background-color;
$settings-background-opacity: 0.80;
$settings-darken-area: #00000099;
$settings-movable-top: 6rem;
$settings-movable-bottom: 5rem;
$settings-font-size: clamp(1em, 2vh, 1.75em);
$settings-width: 18.75em;
$settings-border-radius: 0.25em;
$settings-font-family: $theme-font-family;
$settings-inside-padding: 0.8em;
$settings-gap-between-group: 0.75em;
$settings-input-border-radius: 0.25em;
$settings-input-size: 7em;
$settings-input-shadow: 0 3.3px 3.3px 0 rgba($settings-background-color, 0.25) inset;
$settings-input-shadow-out: 0 0 3px 2px rgba($settings-text-color, 0.4);
$settings-inner-shadow: 0 0 5px 2px $settings-darken-area inset;
$settings-disabled-color: #707075;
$settings-main-gap: 0.5em;
$settings-button-color: $theme-background-darken;
$settings-details-background: $theme-background-color;
$settings-details-shadow-color: rgba($settings-background-color, 0.5);
$settings-details-button-spacing: 0.3em;
$settings-details-padding-top: 0.1em;

// Transcript variables
// $transcript-background-color: #222F75;
// $transcript-background-color: #0D1334;
$transcript-background-color: $theme-background-darken;
$transcript-top-color: #00000099;

// Buttons variables
$buttons-font-size: 1.35rem;
$buttons-height: 1.7;
$buttons-padding-X: .25em;
$buttons-padding-Y: .2em;
$buttons-min-gap: .1em;
$buttons-settings-gap: 1em;
$buttons-color: $theme-background-color;